body {
  background-image: linear-gradient(
    to bottom right,
    red,
    orange,
    rgb(202, 228, 53),
    green,
    blue,
    indigo,
    violet
  );
  color: whitesmoke;
  font-size: 2vh;
  font-weight: 450;
  text-shadow: -2px 2px 1px black;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;*/
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
a {
  color: azure;
  text-decoration: none;
}
a:hover {
  text-decoration: dashed overline underline blue;
}
img {
  height: 500px;
  border: lightseagreen;
}
.subheading {
  border-bottom: solid 5px gold;
}
header,
img,
article {
  border-radius: 0.75em;
  box-shadow: 0.75em 1em 3em blue;
}
